<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>商品列表</title>
    <css file="__PUBLIC__/Css/public.css" />
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th colspan="7">商品列表</th>
        <th><a href="{:U(CONTROLLER_NAME.'/add')}">添加商品</a></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>商品名称</th>
        <th>价格</th>
        <th>上架</th>
        <th>精品</th>
        <th>新品</th>
        <th>热销</th>
        <th>排序</th>
        <th>操作</th>
    </tr>
    </tbody>
</table>
</body>
</html>