<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <title>用户中心_自定义名称</title>
    <css file="__PUBLIC__/css/css.css" />
<body>
<include file="Common:header" />
<section>
    <div class="block clearfix">
        <div class="left_2">
            <include file="Common:user_menu" />
        </div>
        <div class="right_2">
            <div class="box">
                <div class="userCenterBox" style="_height:1%;">
                    <h5><span>收货人信息</span></h5>
                    <form action="{:U('__ACTION__')}" method="post" name="theForm" onsubmit="return checkConsignee(this)" style="margin-bottom:10px;">
                        <table width="100%" border="0" cellpadding="5" cellspacing="1">
                            <tr>
                                <td align="right" bgcolor="#ffffff">配送区域：</td>
                                <td colspan="3" align="left" bgcolor="#ffffff">
                                    <select name="country" id="selCountries_0" onchange="region.changed(this, 1, 'selProvinces_0')">
                                        <option value="0">请选择国家</option>
                                        <option value="1" selected>中国</option>
                                    </select>
                                    <select name="province" id="selProvinces_0" onchange="region.changed(this, 2, 'selCities_0')">
                                        <option value="0">请选择省</option>
                                        <option value="2" >北京</option>
                                        <option value="3" >安徽</option>
                                        <option value="4" >福建</option>
                                        <option value="5" >甘肃</option>
                                        <option value="6" >广东</option>
                                        <option value="7" >广西</option>
                                        <option value="8" >贵州</option>
                                        <option value="9" >海南</option>
                                        <option value="10" >河北</option>
                                        <option value="11" >河南</option>
                                        <option value="12" >黑龙江</option>
                                        <option value="13" >湖北</option>
                                        <option value="14" selected>湖南</option>
                                        <option value="15" >吉林</option>
                                        <option value="16" >江苏</option>
                                        <option value="17" >江西</option>
                                        <option value="18" >辽宁</option>
                                        <option value="19" >内蒙古</option>
                                        <option value="20" >宁夏</option>
                                        <option value="21" >青海</option>
                                        <option value="22" >山东</option>
                                        <option value="23" >山西</option>
                                        <option value="24" >陕西</option>
                                        <option value="25" >上海</option>
                                        <option value="26" >四川</option>
                                        <option value="27" >天津</option>
                                        <option value="28" >西藏</option>
                                        <option value="29" >新疆</option>
                                        <option value="30" >云南</option>
                                        <option value="31" >浙江</option>
                                        <option value="32" >重庆</option>
                                        <option value="33" >香港</option>
                                        <option value="34" >澳门</option>
                                        <option value="35" >台湾</option>
                                    </select>
                                    <select name="city" id="selCities_0" onchange="region.changed(this, 3, 'selDistricts_0')">
                                        <option value="0">请选择市</option>
                                        <option value="197" selected>长沙</option>
                                        <option value="198" >张家界</option>
                                        <option value="199" >常德</option>
                                        <option value="200" >郴州</option>
                                        <option value="201" >衡阳</option>
                                        <option value="202" >怀化</option>
                                        <option value="203" >娄底</option>
                                        <option value="204" >邵阳</option>
                                        <option value="205" >湘潭</option>
                                        <option value="206" >湘西</option>
                                        <option value="207" >益阳</option>
                                        <option value="208" >永州</option>
                                        <option value="209" >岳阳</option>
                                        <option value="210" >株洲</option>
                                    </select>
                                    <select name="district" id="selDistricts_0" >
                                        <option value="0">请选择区</option>
                                        <option value="1647" >岳麓区</option>
                                        <option value="1648" selected>芙蓉区</option>
                                        <option value="1649" >天心区</option>
                                        <option value="1650" >开福区</option>
                                        <option value="1651" >雨花区</option>
                                        <option value="1652" >开发区</option>
                                        <option value="1653" >浏阳市</option>
                                        <option value="1654" >长沙县</option>
                                        <option value="1655" >望城县</option>
                                        <option value="1656" >宁乡县</option>
                                    </select>
                                    (必填) </td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#ffffff">收货人姓名：</td>
                                <td align="left" bgcolor="#ffffff"><input name="consignee" type="text" class="inputBg" id="consignee_0" value="杨修武" />
                                    (必填) </td>
                                <td align="right" bgcolor="#ffffff">电子邮件地址：</td>
                                <td align="left" bgcolor="#ffffff"><input name="email" type="text" class="inputBg" id="email_0" value="924053410@qq.com" />
                                    (必填)</td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#ffffff">详细地址：</td>
                                <td align="left" bgcolor="#ffffff"><input name="address" type="text" class="inputBg" id="address_0" value="凯通国际城9栋1单元2715" />
                                    (必填)</td>
                                <td align="right" bgcolor="#ffffff">邮政编码：</td>
                                <td align="left" bgcolor="#ffffff"><input name="zipcode" type="text" class="inputBg" id="zipcode_0" value="410000" /></td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#ffffff">电话：</td>
                                <td align="left" bgcolor="#ffffff"><input name="tel" type="text" class="inputBg" id="tel_0" value="18890370751" />
                                    (必填)</td>
                                <td align="right" bgcolor="#ffffff">手机：</td>
                                <td align="left" bgcolor="#ffffff"><input name="mobile" type="text" class="inputBg" id="mobile_0" value="" /></td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#ffffff">标志建筑：</td>
                                <td align="left" bgcolor="#ffffff"><input name="sign_building" type="text" class="inputBg" id="sign_building_0" value="" /></td>
                                <td align="right" bgcolor="#ffffff">最佳送货时间：</td>
                                <td align="left" bgcolor="#ffffff"><input name="best_time" type="text"  class="inputBg" id="best_time_0" value="" /></td>
                            </tr>
                            <tr>
                                <td colspan="4" align="center" bgcolor="#ffffff">                    <input type="submit" name="submit" class="bnt_blue_1" value="确认修改" />
                                    <input name="button" type="button" class="bnt_blue"  onclick="if (confirm('你确认要删除该收货地址吗？'))location.href='user.php?act=drop_consignee&id=1'" value="删除" />
                                    <input type="hidden" name="act" value="act_edit_address" />
                                    <input name="address_id" type="hidden" value="1" />
                                </td>
                            </tr>
                        </table>
                    </form>
                    <form action="{:U('__ACTION__')}" method="post" name="theForm" onsubmit="return checkConsignee(this)" style="margin-bottom:10px;">
                        <table width="100%" border="0" cellpadding="5" cellspacing="1">
                            <tr>
                                <td align="right" bgcolor="#ffffff">配送区域：</td>
                                <td colspan="3" align="left" bgcolor="#ffffff">
                                    <select name="country" id="selCountries_1" onchange="region.changed(this, 1, 'selProvinces_1')">
                                        <option value="0">请选择国家</option>
                                        <option value="1" selected>中国</option>
                                    </select>
                                    <select name="province" id="selProvinces_1" onchange="region.changed(this, 2, 'selCities_1')">
                                        <option value="0">请选择省</option>
                                        <option value="2" >北京</option>
                                        <option value="3" >安徽</option>
                                        <option value="4" >福建</option>
                                        <option value="5" >甘肃</option>
                                        <option value="6" >广东</option>
                                        <option value="7" >广西</option>
                                        <option value="8" >贵州</option>
                                        <option value="9" >海南</option>
                                        <option value="10" >河北</option>
                                        <option value="11" >河南</option>
                                        <option value="12" >黑龙江</option>
                                        <option value="13" >湖北</option>
                                        <option value="14" >湖南</option>
                                        <option value="15" >吉林</option>
                                        <option value="16" >江苏</option>
                                        <option value="17" >江西</option>
                                        <option value="18" >辽宁</option>
                                        <option value="19" >内蒙古</option>
                                        <option value="20" >宁夏</option>
                                        <option value="21" >青海</option>
                                        <option value="22" >山东</option>
                                        <option value="23" >山西</option>
                                        <option value="24" >陕西</option>
                                        <option value="25" >上海</option>
                                        <option value="26" >四川</option>
                                        <option value="27" >天津</option>
                                        <option value="28" >西藏</option>
                                        <option value="29" >新疆</option>
                                        <option value="30" >云南</option>
                                        <option value="31" >浙江</option>
                                        <option value="32" >重庆</option>
                                        <option value="33" >香港</option>
                                        <option value="34" >澳门</option>
                                        <option value="35" >台湾</option>
                                    </select>
                                    <select name="city" id="selCities_1" onchange="region.changed(this, 3, 'selDistricts_1')">
                                        <option value="0">请选择市</option>
                                    </select>
                                    <select name="district" id="selDistricts_1" style="display:none">
                                        <option value="0">请选择区</option>
                                    </select>
                                    (必填) </td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#ffffff">收货人姓名：</td>
                                <td align="left" bgcolor="#ffffff"><input name="consignee" type="text" class="inputBg" id="consignee_1" value="" />
                                    (必填) </td>
                                <td align="right" bgcolor="#ffffff">电子邮件地址：</td>
                                <td align="left" bgcolor="#ffffff"><input name="email" type="text" class="inputBg" id="email_1" value="2802513334@qq.com" />
                                    (必填)</td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#ffffff">详细地址：</td>
                                <td align="left" bgcolor="#ffffff"><input name="address" type="text" class="inputBg" id="address_1" value="" />
                                    (必填)</td>
                                <td align="right" bgcolor="#ffffff">邮政编码：</td>
                                <td align="left" bgcolor="#ffffff"><input name="zipcode" type="text" class="inputBg" id="zipcode_1" value="" /></td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#ffffff">电话：</td>
                                <td align="left" bgcolor="#ffffff"><input name="tel" type="text" class="inputBg" id="tel_1" value="" />
                                    (必填)</td>
                                <td align="right" bgcolor="#ffffff">手机：</td>
                                <td align="left" bgcolor="#ffffff"><input name="mobile" type="text" class="inputBg" id="mobile_1" value="" /></td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#ffffff">标志建筑：</td>
                                <td align="left" bgcolor="#ffffff"><input name="sign_building" type="text" class="inputBg" id="sign_building_1" value="" /></td>
                                <td align="right" bgcolor="#ffffff">最佳送货时间：</td>
                                <td align="left" bgcolor="#ffffff"><input name="best_time" type="text"  class="inputBg" id="best_time_1" value="" /></td>
                            </tr>
                            <tr>
                                <td colspan="4" align="center" bgcolor="#ffffff">                    <input type="submit" name="submit" class="bnt_blue_2"  value="新增收货地址"/>
                                    <input type="hidden" name="act" value="act_edit_address" />
                                    <input name="address_id" type="hidden" value="" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>
<include file="Common:footer" />
</body>
<script type="text/javascript">
    var msg_title_empty = "咨询标题为空";
    var msg_content_empty = "内容为空";
    var msg_title_limit = "咨询标题不能超过200个字";
</script>
</html>