<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>网站后台</title>
    <css file="__PUBLIC__/Css/public.css" />
    <css file="__PUBLIC__/Css/index.css" />
    <js file="__PUBLIC__/Js/jquery-1.12.1.min.js" />
    <js file="__PUBLIC__/Js/index.js" />
    <base target="iframe" />
</head>
<body>
    <div id="top">
        <div class="menu">
            <a href="{:U(CONTROLLER_NAME.'/show')}">系统信息</a>
            <a href="#">选择按钮</a>
            <a href="#">选择按钮</a>
            <a href="#">选择按钮</a>
            <a href="#">选择按钮</a>
        </div>
        <div class="exit">
            <a href="{:U(MODULE_NAME.'/Login/logout')}" target="_self">退出登录</a>
        </div>
    </div>
    <div id="left">
        <dl>
        <dt>产品管理</dt>
            <dd><a href="{:U(MODULE_NAME.'/Category/index')}">产品分类</a></dd>
            <dd><a href="{:U(MODULE_NAME.'/Goods/index')}">产品列表</a></dd>
            <dd><a href="{:U(MODULE_NAME.'/GoodsType/index')}">产品类型列表</a></dd>
            <dd><a href="{:U(MODULE_NAME.'/Brand/index')}">产品品牌列表</a></dd>
        </dl>
        <dl>
        <dt>RBAC</dt>
            <dd><a href="{:U(MODULE_NAME.'/AdminUser/index')}">管理员管理</a></dd>
            <dd><a href="{:U(MODULE_NAME.'/AdminRole/index')}">角色管理</a></dd>
            <dd><a href="{:U(MODULE_NAME.'/AdminNode/index')}">节点管理</a></dd>
        </dl>
    </div>
    <div id="right">
        <iframe name="iframe" src="{:U(CONTROLLER_NAME.'/show')}"></iframe>
    </div>
</body>
</html>