<div class="ab-goods">
    <h3>推广产品</h3>
    <!--循环开始-->
    <div class="clearfix">
        <a href="goods.php?id=1"><img src="images/201507/thumb_img/1_thumb_G_1435951716188.jpg" alt="IBM X3650M4 79152TT E5-2603v2/四核1.8GHz/2*8GB内存/无硬盘/2.5英寸/DVD-RW/550W电源/4口千兆网卡/2U机架式服务器" class="goodsimg" height="180px" width="180px" /></a><br />
        <p><a href="goods.php?id=1" title="IBM X3650M4 79152TT E5-2603v2/四核1.8GHz/2*8GB内存/无硬盘/2.5英寸/DVD-RW/550W电源/4口千兆网卡/2U机架式服务器"><p style="word-wrap: break-word;word-break: break-all;">IBM X3650M4 79152TT E5-2603v2/四核1.8GHz/2*8GB...</a></p></p>
        <font class="f1">￥13000</font>
    </div>
</div>